<br>
<br>
<br>
<br>
<br>
<h1 class='page_header' style= "text-align : center">LogIn </h1>
<div class="d-flex justify-content-center">
<%=form_for :session, url: login_path do |f|%>
<%=f.label :username  %><p> 
<%=f.text_field :username%><p>

<%=f.label :password %><p>
<%=f.password_field :password %><p>

<%=f.submit "Login"%>

<% end %>
</div>