<div class= "form-inline">
<%= f.text_field :name, placeholder: 'Full Name', :class=> "form-control" %><p><br><br>
</div>
<div class= "form-inline">
<%= f.text_field :username, placeholder: 'Username', :class=> "form-control" %><p><br><br>
</div>
<div class= "form-inline">
<%= f.password_field :password, placeholder: 'Password' , :class=> "form-control"%><p><br><br>
</div>
<div class= "form-inline">
<%= f.label :"upload your profile picture" %><p><br><br>
</div>
<div class= "form-inline">
<%=f.file_field :profile_pic, class: "value", :class=> "form-control"%><p><br><br>
</div>

<%= f.submit :"create account", :class => "btn btn-success btn-lg"%>
</div>

