

<div class='d-flex justify-content-center'>
<div class="card" style="width: 60rem;">
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="<%='http://www.youtube.com/embed/'+@song.code%>" allowfullscreen></iframe>
</div>
  <div class="card-body">
    <h2 class="card-title" style='color: black; text-align: left'> <%=@song.name%>-<%=@song.artist%> || <%=@song.genre%></h2>
    <div class='container'>
    <div class='row'>
      <div class='col-sm'>
      <%= button_to "#{@song.likes} Likes", song_path(@song.id), method: :post, :class =>"btn btn-outline-success btn-lg"%>
      </div>

      <div class='col-sm'>
      <h4 style="text-align: right; background: green;"><%=@song.number_of_plays%> plays</h4>
      </div>
    </div>
  </div>
  <br>

    <div><a href="<%=edit_song_path(@song.id)%>" class="btn btn-outline-success">Edit Song</a></div>
    <br>
    <div class='d-flex justify-content-right'><a href="<%=song_path(@song.id)%>" class="btn btn-outline-danger">Delete Song</a></div>
    <br>
    
  </div>
</div>
</div>

