<h1><%= @song.name %></h1>
<p>Artist: <%= @song.artist %></p>
<p>Genre: <%= @song.genre %></p>
<p>Likes: <%= @song.likes %><p>
<p><iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/"+@song.code %>"></iframe></p>
<p><%= link_to "Edit Song Information", edit_song_path(@song)%></p>
<p><%= link_to "Song Index", songs_path %></p>
<div class="d-flex justify-content-center">
<p><%= button_to "Like", song_path(@song), method: :post , :class => "btn btn-secondary"%></p>
</div>
<p><%= button_to "Delete Song", song_path(@song), method: :delete %></p>